---
http_interactions:
- request:
    method: get
    uri: http://api.openweathermap.org/data/2.5/air_pollution?appid=0da1fe88335aa8ea49a44b6575c6e166&lat=50.0&lon=50.0
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"coord":{"lon":50,"lat":50},"list":[{"main":{"aqi":1},"components":{"co":250.34,"no":0,"no2":2.06,"o3":55.79,"so2":0.32,"pm2_5":0.95,"pm10":0.99,"nh3":0.08},"dt":1700846749}]}'
  recorded_at: Fri, 24 Nov 2023 17:27:31 GMT
recorded_with: VCR 6.2.0
